<a href="<%= course_path(course) %>" class="courses">
  <div class="card <%= 'clear' unless effect %>">
    <div class="is-flex is-justify-content-space-between difficult">
      <figure class="image is-32x32" title="<%= course.category.name %>">
        <img src="/assets/categories/<%= course.category.name.downcase %>.png" alt="<%= course.category.name %>">
      </figure>

      <span title="Dificuldade: <%= course.level %>">
        <% course.level.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </span>
    </div>

    <div class="card-content">
      <p class="title has-text-white is-spaced">
        “<%= course.title %>”
      </p>
    </div>
    <footer class="card-footer p-3 author">
      <figure class="image is-32x32">
        <img src="<%= course.author.avatar %>" class="is-rounded">
      </figure>
      <span class="has-text-white"><%= course.author.name %></span>
    </footer>
  </div>
</a>

