<nav class="navbar is-transparent mb-6 mt-2" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <img src="/assets/logo.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navPrincipal">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  </div>
    <div id="navPrincipal" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Treinamentos',   courses_path,   class: 'navbar-item'  %>
        <%= link_to 'Comunidade',   courses_path,   class: 'navbar-item'  %>
        <%= link_to 'Como Contribuir',   como_contribuir_path,   class: 'navbar-item'  %>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="<%= authors_path %>" class="navbar-item button is-rose is-outlined">
              <ion-icon name="people-outline"></ion-icon>
              <span class="ml-2">Social</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</nav>