<section class="section">
  <div class="container">
    <div class="columns is-multiline">      
      <% @authors.each do |author| %>
        <div class="column is-3-desktop is-4-tablet is-12-mobile">
          <div class="card">
            <div class="has-text-right network">
              <a href="<%= author.youtube_url %>" target="_blank" class="has-text-white-bis">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="<%= author.twitter_url %>" target="_blank" class="has-text-white-bis">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="<%= author.instagram_url %>" target="_blank" class="has-text-white-bis">
                <i class="fab fa-instagram"></i>
              </a>
            </div>

            <div class="card-content is-flex is-justify-content-center">
              <figure class="image is-96x96">
                <img src="<%= author.avatar %>" class="is-rounded" alt="<%= author.name %>">
              </figure>
            </div>
            <div class="card-content">
              <p class="title has-text-white has-text-centered">
                <%= author.name %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>