<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-half">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label has-text-white" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label has-text-white" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: 'has-text-white' %>
                </label>
              </div>
            </div>
          <% end %>

          <div class="actions mt-5">
            <%= f.submit "Log in", class: "button is-success is-fullwidth" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>