<section class="section">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-body uk-card-default">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="uk-margin">
							<%= f.label :email, class: "label has-text-white" %><br />
							<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
						</div>

						<div class="uk-margin">
							<%= f.label :password, class: "label has-text-white" %><br />
							<%= f.password_field :password, autocomplete: "current-password", class: "uk-input" %>
						</div>

						<% if devise_mapping.rememberable? %>
							<div class="uk-margin">
								<label class="checkbox">
									<%= f.check_box :remember_me, class: 'uk-checkbox' %>
									<%= f.label :remember_me, class: 'has-text-white' %>
								</label>
							</div>
						<% end %>

						<div class="actions mt-5">
								<%= f.submit "Log in", class: "uk-button uk-button-primary" %>
						</div>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</section>