<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column if-full">
        <h1 class="title has-text-white"><%= @course.title %></h1>
      </div>
      <div class="column is-full">
        <div class="card clear">
          <div class="card-content clear">
            <div style="padding: 56.25% 0 0 0; position: relative">
              <iframe
                src="https://player.vimeo.com/video/<%= @course.code %>?title=0&byline=0&portrait=0"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                "
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <footer class="card-footer p-3 author">
            <figure class="image is-32x32">
              <img src="<%= @course.author.avatar %>" class="is-rounded">
            </figure>
            <span class="has-text-white"><%= @course.author.name %></span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="subtitle mb-7 has-text-white">Relacionados</h2>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <% @relateds_courses.each do | related | %>
            <li class="splide__slide">
              <%= render partial: 'components/course', locals: { course: related, effect: false } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= content_for :css do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css">
<% end %>

<%= content_for :scripts do %>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
  <script>
    new Splide( '.splide', {
      perPage: 3,
      rewind : true,
      gap: '1em'
    } ).mount();
  </script>
<% end %>