<%= content_for :title do %> - <%= @course.title %> 💕 <% end %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">      
      <div class="column">
        <div class="column is-full">
          <div class="has-text-right mt-5">
            <a href="<%= @course.source_code.url %>" class="button is-medium is-dark">
              <span class="icon">
                <i class="fas fa-code"></i>
              </span>
              <span>código fonte</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-full">
        <div class="columns is-multiline">
          <div class="column">
            <div style="padding: 56.25% 0 0 0; position: relative">
              <iframe
                src="https://player.vimeo.com/video/372322938?title=0&byline=0&portrait=0"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                "
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-full">
        <h1 class="has-text-white title is-lowercase mb-3 mt-6">recomendamos</h1>
      </div>
      <% @recommended.each do |recommended| %>
        <div class="column is-4-desktop is-12-mobile is-6-tablet">
          <%= render partial: 'components/course', locals: { course: recommended, effect: false } %>
        </div>    
      <% end %>

      <div class="column is-full">
        <h1 class="has-text-white title is-lowercase mb-3 mt-6">quem criou o conteúdo?</h1>
      </div>
      
      <div class="column is-full">
        <div class="column is-3-desktop">
          <div class="card">
            <div class="has-text-right network">
              <% if @course.author.linkedin %>
                <a href="<%= @course.author.linkedin_url %>" target="_blank" class="has-text-white-bis">
                  <i class="fab fa-linkedin"></i>
                </a>
              <% end %>

              <% if @course.author.youtube %>
                <a href="<%= @course.author.youtube_url %>" target="_blank" class="has-text-white-bis">
                  <i class="fab fa-youtube"></i>
                </a>
              <% end %>

              <% if @course.author.twitter %>
                <a href="<%= @course.author.twitter_url %>" target="_blank" class="has-text-white-bis">
                  <i class="fab fa-twitter"></i>
                </a>          
              <% end %>

              <% if @course.author.instagram %>
                <a href="<%= @course.author.instagram_url %>" target="_blank" class="has-text-white-bis">
                  <i class="fab fa-instagram"></i>
                </a>
              <% end %>
            </div>

            <div class="card-content is-flex is-justify-content-center">
              <figure class="image is-96x96">
                <%= image_tag @course.author.photo, class: 'is-rounded' %>
              </figure>
            </div>
            <div class="card-content">
              <p class="title has-text-white has-text-centered">
                <%= @course.author.name %>
              </p>
            </div>
          </div>
        </div>
      </div> 
    </div>

  </div>
</section>

<%= content_for :scripts do %>
  <script>
    new Splide( '.splide', {
      type: 'fade',
    } ).mount();
  </script>
<% end %>