
<section class="uk-section">
  <div class="uk-container">
    <div uk-grid class="uk-child-width-1-1@m">
      <% @posts.each do | post |%>
        <div>
          <div class="uk-card uk-card-secondary">
            <div class="uk-card-media-top">
              <% if post.image.attached? %>
                <%= image_tag post.image %>
              <% end %>
            </div>
            <div class="uk-card-body">
              <div class="uk-card-badge uk-label">
              <%= post.tag.name %>
              </div>
              <h3 class="uk-card-title">
                <%= link_to post.title, post_path(post) %>
              </h3>
              <p class="uk-text-muted">
                <%= l post.created_at, format: '%d %b de %Y'  %>
              </p>
              <p>
                <%= markdown(truncate(post.content, length: 115)).html_safe %>
              </p>
            </div>
            <div class="uk-card-footer">
              <span class="title uk-text-white">
                <% if post.author.photo.attached? %>
                  <%= image_tag post.author.photo, class: 'uk-border-circle', width: '30px' %>
                <% end %>
                <%= post.author.name %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

