<!DOCTYPE html>
<html>
  <head>
    <title>Negrosdev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    
    <%= yield :css %>
  </head>

  <body>
    <%= render 'partials/menu' %>
  
    <main class="site-container mt-6">
      <%= yield %>
    </main>

    <%= render 'partials/footer' %>

    <%= yield :scripts %>
  </body>
</html>
