<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTBFKMTRST"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BTBFKMTRST');
    </script>

    <title>Negros.dev <%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :head %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <%= yield :css %>
  </head>

  <body class="site">
    <%= render 'partials/menu' %>
  
    <main class="site-container mt-6">
      <% if flash[:notice] %>
        <div class="container">
          <div class="notification is-warning">
            <p class="has-text-centered"><%= flash[:notice] %></p>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <%= render 'partials/footer' %>

    <%= yield :scripts %>
  </body>
</html>
